@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

@font-face {
    font-family: cereal-medium;
    src: url("./assets/fonts/AirbnbCerealMedium.ttf");
}

@font-face {
    font-family: cereal-light;
    src: url("./assets/fonts/AirbnbCerealLight.ttf");
}

@font-face {
    font-family: cereal-bold;
    src: url("./assets/fonts/AirbnbCerealBold.ttf");
}

*
{
    font-family: cereal-medium;
    color: #731ab7;
}



.navbar-light .navbar-brand {
    color: #63dc3e;
}

.navbar-light .navbar-nav .nav-link {
    color: #63dc3e;
}

a.navbar-brand {
    margin-right: -115px;
}

button.btn.btn-outline-success.my-2.my-sm-0 {
    margin-left: 15px;
    border: none;
    -webkit-box-shadow: 0px 0px 25px -5px #63DC3E; 
    box-shadow: 0px 0px 25px -5px #63DC3E;
}

h1 {
    font-family: cereal-bold;    
    margin-top:  -10vh;
}

#carouselExampleCaptions {
    margin-top: 5vh;
}

.rooms {    
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

h6.card-text {
    text-align: end;
    justify-content: right;
}

.carousel {
    height: 450px;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
}

.carousel-item {
    text-align: center;
}

.carousel-caption h5, 
.carousel-caption p {
    color: #ffffff;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #731ab7;
    text-shadow: 0px 3px 2px #731ab7;
}

.carousel-caption h5
{
    font-size: 4.25rem;
}

.carousel-caption p
{
    font-size: 1.75rem;
}

section.formulario-busca {
    padding: 50px;
    -webkit-box-shadow: 0px 0px 25px -5px #63DC3E; 
    box-shadow: 0px 0px 25px -5px #63DC3E;
}

button.btn.btn-success.col-md-2 {
    font-size: 20px;
    height: 50%;  
    margin-top: 30px; 
}

#label-localizacao, #label-checkin {
    border-right: 3px solid #63DC3E;
}

div.card {
    padding: 10px;
}

img.card-img-top {    
    height: 300px;
    margin-bottom: 6px;
}

h6.card-text {
    font-weight: normal;
    font-family: cereal-light;
}

/* Footer */

section {
    padding: 60px 0;
}

section .section-title {
    text-align: center;
    color: #63dc3e;
    margin-bottom: 50px;
    text-transform: uppercase;
}
#footer {
    background: #63dc3e !important;
}
#footer h5{
	text-transform: uppercase;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color:#ffffff;
}
#footer a {
    color: #ffffff;
    font-family: cereal-light;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}
#footer ul.social li{
	padding: 3px 0;
}
#footer ul.social li a i {
    margin-right: 5px;
	font-size: 50px;
	-webkit-transition: .5s all ease-in-out;
	-moz-transition: .5s all ease-in-out;
	transition: .5s all ease-in-out;
}
#footer ul.social li:hover a i {
	font-size: 60px;
	margin-top: -10px;
}
#footer ul.social li a,
#footer ul.quick-links li a{
	color: #ffffff;
}
#footer ul.social li a:hover{
	color: #eeeeee;
}
#footer ul.quick-links li{
	padding: 3px 0;
	-webkit-transition: .5s all ease;
	-moz-transition: .5s all ease;
	transition: .5s all ease;
}
#footer ul.quick-links li:hover{
	padding: 3px 0;
	margin-left: 5px;
	font-weight: bold;
}
#footer ul.quick-links li a i{
	margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
    font-weight: bold;
}

#footer div.creditos {
    justify-content: center;
}