@font-face {
    font-family: cereal-medium;
    src: url("./assets/fonts/AirbnbCerealMedium.ttf");
}

@font-face {
    font-family: cereal-bold;
    src: url("./assets/fonts/AirbnbCerealBold.ttf");
}

*
{
    font-family: cereal-medium;
}

h1
{
    font-family: cereal-bold;
    margin-top: 5vh;
}

#carouselExampleCaptions {
    margin-top: 12vh;
}

.rooms {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.carousel {
    height: 450px;
}

.carousel-item,
.carousel-inner,
.carousel-inner img {
    height: 100%;
}

.carousel-item {
    text-align: center;
}